@import "~/styles/css/fonts";
@import "~/styles/css/utilities";

.container {
    height: 100%;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    overflow: hidden;
    position: relative;
    @include unselectable;

    .topWakuContainer {
        position: absolute;
        z-index: 998;
        left: 0;
        right: 0;
        top: 0;

        height: 100px;

        & > div {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            overflow: hidden;

            & > div {
                display: flex;
                & > img {
                    height: 100px;
                }
            }
        }
    }

    .bottomWakuContainer {
        position: absolute;
        z-index: 998;
        left: 0;
        right: 0;
        bottom: 0;

        & > div {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: flex-end;
            overflow: hidden;

            & > div {
                display: flex;
                & > img {
                    height: 100px;
                }
            }
        }
    }

    .musicNoteCounterContainer {
        @include kiwiMaru(500);
        color: #ffffff;
        font-size: 1.5rem;
        position: absolute;
        z-index: 997;
        left: 0;
        bottom: 0;

        padding: 2rem;
        box-sizing: border-box;

        display: inline-flex;
        flex-direction: row;
        align-items: center;

        & > * {
            line-height: 1.5rem;
            vertical-align: middle;
        }

        .big {
            height: 2rem;
            width: 2rem;
            object-fit: contain;
        }
    }
}
