@import "~/styles/css/colors.scss";

.container {
    margin: 1rem 1rem;

    .caution {
        font-size: 0.8rem;
        color: rgba($accent-red, 0.68);
    }

    .form {
        margin: 1rem 0;
        .input {
            color: rgba(0, 0, 0, 0.68);

            & > input {
                box-sizing: border-box;
                width: 100%;
                color: rgba(0, 0, 0, 0.88);
                line-height: 1.4rem;
            }
        }
    }

    .restoreDefaultButton {
    }
}
