@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&family=Kiwi+Maru:wght@300;500&display=swap");

@mixin notoSansJP($weight: 400) {
    font-weight: $weight;
    font-family: "Noto Sans JP", sans-serif;
}

@mixin kiwiMaru($weight: 300) {
    font-weight: $weight;
    font-family: "Kiwi Maru", serif;
}
