@import url("https://fonts.googleapis.com/css2?family=Kiwi+Maru:wght@500&display=swap");

body {
    font-size: 1em;
    font-weight: 500;
    font-family: "Kiwi Maru", serif;
}

.textalive-banner {
    margin: 0 !important;
}
