@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&family=Kiwi+Maru:wght@300;500&display=swap");
@import "~/styles/css/fonts";

body {
    margin: 0;
    font-size: 1em;
    @include notoSansJP;
}

.textalive-banner {
    margin: 0 !important;
}
