@import "~/styles/css/utilities";

@keyframes wave {
    0% {
        transform: scaleY(1);
    }

    25% {
        transform: scaleY(2);
    }

    75% {
        transform: scaleY(1);
    }

    100% {
        transform: scaleY(1);
    }
}

.imageContainer {
    position: absolute;
    @include tlrb;
    padding-bottom: 110px;
    display: flex;
    align-items: flex-end;
    justify-content: center;

    .tvContainer {
        position: relative;
        height: 23rem;
        overflow: hidden;

        .tvImg {
            height: 23rem;
            object-fit: contain;
        }

        .waveContainer {
            position: absolute;
            z-index: -1;
            @include tlrb;
            display: flex;
            gap: 3rem;
            align-items: center;
            justify-content: center;
            padding-top: 2rem;

            background-color: #80deea;

            & > div {
                background-color: #ffffff;
                height: 10%;
                width: 0.75rem;
                border-radius: 0.25rem;

                animation-fill-mode: both;
                animation-iteration-count: infinite;

                &:nth-child(1) {
                    animation-name: wave;
                }

                &:nth-child(2) {
                    animation-name: wave;
                }

                &:nth-child(3) {
                    animation-name: wave;
                }

                &:nth-child(4) {
                    animation-name: wave;
                }
            }
        }
    }
}
