@import "~/styles/css/colors.scss";
@import "~/styles/css/fonts.scss";
@import "~/styles/css/utilities.scss";

.container {
    background-color: $accent-yellow;
    color: rgba(255, 255, 255, 1);

    position: relative;

    &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 1;
    }

    .phraseContainer {
        height: 25%;
        top: 0;
        left: 0;
        right: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        pointer-events: none;
        @include unselectable;

        .phrase {
            @include kiwiMaru(500);
            font-size: 2.5rem;
        }
    }
}
