@import "~/styles/css/colors.scss";
@import "~/styles/css/fonts.scss";
@import "~/styles/css/utilities";

.container {
    position: absolute;
    @include tlrb;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .songInfoContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1rem;

        .title {
            font-size: 4rem;
            color: $accent-red;
            @include kiwiMaru(500);
        }

        .composer {
            font-size: 2rem;
            @include kiwiMaru(500);
        }
    }
}

.hintContainer {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;

    height: 40%;
    display: flex;
    align-items: center;
    justify-content: center;

    padding-bottom: 100px;

    .startHint {
        margin-top: 5rem;
        font-size: 1.5rem;
        font-weight: 700;
        filter: opacity(0.88);
    }
}
