.media {
    position: fixed;
    bottom: 0;
    right: 0;
    margin-bottom: 1rem;
    margin-right: 1rem;
    background-color: #fff;
    filter: drop-shadow(0 0.125rem 0.125rem rgba(#000, 0.08));
}
