@import "~/styles/css/colors";
@import "~/styles/css/utilities";

.media {
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 999;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    height: 100vh;

    & > div {
        &:nth-child(1) {
            height: 5vh;
            max-height: 130px;
            min-height: 50px;
        }

        &:nth-child(2) {
            flex-grow: 1;
            height: 100%;
        }

        &:nth-child(3) {
            height: 5vh;
            max-height: 130px;
            min-height: 50px;
        }
    }

    .information {
        padding: 0 1rem;
        box-sizing: border-box;
        display: flex;
        align-items: center;
    }
}

.guageContainer {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    overflow: hidden;
    @include unselectable;
    & > div {
        flex-grow: 1;
        padding: 0.5rem;
        box-sizing: border-box;
        filter: opacity(0.5);
    }
}
