.characterContainer {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 3;

    display: flex;
    align-items: flex-end;
    justify-content: center;

    padding-bottom: 1rem;
    box-sizing: border-box;

    .mainCharacter {
        height: 23rem;
        position: relative;

        & > img {
            height: 100%;
            object-fit: contain;
        }
    }
}

@keyframes popupSoundNote {
    0% {
        transform: translateY(0);
        filter: opacity(1);
    }

    30% {
        transform: translateY(-4rem);
        filter: opacity(1);
    }

    60% {
        transform: translateY(-4rem);
        filter: opacity(1);
    }

    100% {
        transform: translateY(-4rem);
        filter: opacity(0);
    }
}

.soundNote {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;

    z-index: -1;
    animation: popupSoundNote ease-in-out both;

    & > img {
        height: 3rem;
        width: 3rem;
        object-fit: contain;
    }
}

@keyframes hiddenHint {
    0% {
        filter: opacity(1);
    }

    99% {
        filter: opacity(0);
        display: block;
    }

    100% {
        filter: opacity(0);
        display: none;
    }
}

.hintContainer {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;

    display: flex;
    flex-direction: row;
    align-items: center;

    .hintElement {
        width: 50%;
        .hint {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            font-weight: 700;
            & > div {
                margin: 0 0.125rem;
            }
        }
    }

    .hiddenHint {
        animation: hiddenHint 500ms linear both;
    }
}

@keyframes hide {
    from {
        filter: opacity(1);
    }

    to {
        filter: opacity(0);
    }
}

.encountableContainer {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;

    animation: hide linear both;

    & > * {
        position: absolute;
        bottom: 0;
        left: 50%;

        transform: translateX(-50%);

        margin: 1rem 0;
    }
}
