@import "~/styles/css/utilities";

.imageContainer {
    position: absolute;
    @include tlrb;

    display: flex;
    align-items: flex-end;
    justify-content: center;

    z-index: 3;

    .imageInner {
        position: relative;
        display: flex;
        & > img {
            height: 80vh;
            object-fit: contain;
            margin-bottom: -10rem;
        }
    }
}

@keyframes hiddenHint {
    0% {
        filter: opacity(1);
    }

    99% {
        filter: opacity(0);
        display: block;
    }

    100% {
        filter: opacity(0);
        display: none;
    }
}

.hintContainer {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;

    display: flex;
    flex-direction: row;
    align-items: center;

    .hintElement {
        width: 50%;
        font-weight: 700;

        display: flex;
        align-items: center;
        justify-content: center;

        .col {
            display: inline-flex;
            flex-direction: column;
            align-items: flex-start;
        }

        .hint {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;

            & > div {
                margin: 0 0.125rem;
            }
        }

        .hiddenHint {
            animation: hiddenHint 500ms linear both;
        }
    }
}

.timingHint {
    position: absolute;
    @include tlrb;
    z-index: -3;

    display: flex;
    align-items: center;
    justify-content: center;

    &:after {
        content: "";
        border: 0.125rem solid rgba(255, 255, 255, 0.6);
        height: 60vh;
        width: 60vh;
        border-radius: 30vh;
    }
}

.circleContainer {
    position: absolute;
    @include tlrb;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: -2;
}

.circle {
    border: 0.25rem solid rgba(#18ffff, 1);
    height: 60vh;
    width: 60vh;
    border-radius: 30vh;
}

@keyframes popupMusicNote {
    0% {
        transform: translateY(2rem);
        filter: opacity(1);
    }

    30% {
        transform: translateY(-2rem);
        filter: opacity(1);
    }

    60% {
        transform: translateY(-2rem);
        filter: opacity(1);
    }

    100% {
        transform: translateY(-2rem);
        filter: opacity(0);
    }
}

.musicNote {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;

    z-index: -1;
    animation: popupMusicNote ease-in-out both;

    & > img {
        height: 3rem;
        width: 3rem;
        object-fit: contain;
    }
}
