@import "~/styles/css/utilities";

@keyframes rythm {
    0% {
        transform: scale(1) translateY(0%);
    }

    10% {
        transform: scale(1.05) translateY(-2.5%);
    }

    90% {
        transform: scale(1) translateY(0%);
    }
}

.imageContainer {
    position: absolute;
    z-index: 0;
    @include tlrb;

    display: flex;
    align-items: flex-end;
    justify-content: center;

    .imageInner {
        display: inline-flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
    }

    .stageContainer {
        margin-bottom: 110px;
        position: relative;
        z-index: 1;

        & > img {
            height: 8rem;
            object-fit: contain;
        }
    }

    .onStageContainer {
        position: relative;
        flex-grow: 1;
        align-self: stretch;
    }

    .machineContainer {
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        justify-content: center;

        & > div {
            width: 25%;
            display: flex;

            &.rightSpeaker {
                justify-content: flex-end;
                animation: rythm both infinite;
                margin-bottom: -4rem;
                margin-left: 0.5rem;
                margin-right: -5rem;

                & > img {
                    height: 20rem;
                    object-fit: contain;
                }
            }

            &.leftSpeaker {
                justify-content: flex-start;
                animation: rythm both infinite;
                margin-bottom: -4rem;
                margin-right: 0.5rem;
                margin-left: -5.25rem;

                & > img {
                    height: 20rem;
                    object-fit: contain;
                }
            }

            &.rightMic {
                justify-content: flex-end;
                margin-bottom: -3rem;
                margin-left: 10.5rem;
                margin-right: -7.5rem;

                & > img {
                    height: 9.5rem;
                    object-fit: contain;
                }
            }

            &.leftMic {
                justify-content: flex-start;
                margin-bottom: -3rem;
                margin-left: -7.3rem;
                margin-right: 10.5rem;

                & > img {
                    height: 9.5rem;
                    object-fit: contain;
                }
            }
        }
    }

    .performerContainer {
        position: absolute;
        @include tlrb(none, 0, 0, 0);

        display: flex;
        justify-content: center;

        margin-bottom: -0.5rem;
    }

    .performerImg {
        height: 28rem;
        object-fit: contain;
    }
}

@keyframes hiddenHint {
    0% {
        filter: opacity(1);
    }

    99% {
        filter: opacity(0);
        display: block;
    }

    100% {
        filter: opacity(0);
        display: none;
    }
}

.hintContainer {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    height: 50%;

    display: flex;
    flex-direction: row;
    align-items: center;

    .hintElement {
        width: 50%;
        .hint {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            font-weight: 700;
            & > div {
                margin: 0 0.125rem;
            }
        }
    }

    .hiddenHint {
        animation: hiddenHint 500ms linear both;
    }
}
